nav {
  ul {
    list-style-type: none;

    padding: 0;
    border-bottom: #BDBDBD 3px solid;
    li {
      a {
        line-height: 2em;
        text-decoration: none;
        color: #000;
        background-color: #EEE;
        border-bottom: #BDBDBD 1px solid;
        padding: 0.5em;
        display: block;
      }
    }
  }
}

@media (min-width: 700px) {
  nav {
    float: left;
    width: 20%;
    position: relative;
    h3 {
      margin-top: 2em;
    }
  }
  .item-list {float: right; width: 79%}
}
