@charset "UTF-8";

@media (min-width: 35em) {
  .item-list {
    li {
      width: 50%;
      .item {
        margin: 0.5em 1%;
      }
    }
  }
}

@media (min-width: 51em) {
  .item-list {
    li {
      width: 33.333%;
    }
  }
}

@media (min-width: 71em) {
  .item-list {
    li {
      width: 25%;
    }
  }
}