{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title><span data-icon="i" class="icon"></span> Doprava a platba</h1>
</div>

    <h3><span data-icon="d" class="icon"></span> Doprava:</h3>
    <h3><span data-icon="e" class="icon"></span> Platba:</h3>
{/block}