{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Doprava a platba</h1>
</div>

<div id="content">
    <h3>Doprava:</h3>
    <h3>Platba:</h3>
</div>
{/block}