#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

parameters:

	#contact - email and phone of operator
	contact:
		name: 'Marek Musil & Vladan Kudláč'
		phone: +420 123 456 789
		email: 'IIS@<span style="display:none;">ignoruj mě</span>dochazku.cekuj.net'
		email_from: 'noreply@dochazku.cekuj.net'

	#product - enable or disable features on product detail pages [true/false]
	product:
		show_phone_order: true
		show_email_order: true

	#menu at homepage; 1.line = link title; 2.line = target presenter:action; 3.line = category id
	category_menu:
		'Pastelky':
			- 'Homepage:default'
			- 'pastelky'
		'Skicáky':
			- 'Homepage:default'
			- 'skicáky'

	logged_menu:
		'Košík':
			- 'User:cart'
		'Objednávky':
			- 'User:orders'
		'Odhlásit se':
			- 'Sign:out'

	#delivery options
	delivery:
		0:
			name: 'Česká pošta'
			price: 99
			show: true
		1:
			name: 'PPL'
			price: 99
			show: true
		2:
			name: 'TTL'
			price: 20
			show: true

	#payment options
	payment:
		0:
			name: 'Převodem předem'
			price: 0
			show: true
		1:
			name: 'Dobírkou při převzetí'
			price: 49
			show: true

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\Parameters(@container::getParameters())
	- App\Model\UserManager
	- App\Model\EmailValidator
	- App\Model\Registrator
	- App\Model\ProductManager
	- App\Model\CartManager
	- App\Model\OrderManager(@container::getParameters())
	- App\Model\EmployeeManager
	- App\Model\SupplierManager
	- App\Model\ParameterManager

	- App\FrontModule\Forms\IUserDataFactory
	- App\FrontModule\Forms\SignFormFactory
	- App\FrontModule\Forms\RegisterFormFactory
	- App\FrontModule\Forms\BuyFormFactory

	-
		factory: App\Model\UserAuthenticator
		autowired: self
	-
		factory: App\Model\EmployeeAuthenticator
		autowired: self

	- App\AdminModule\Forms\SignFormFactory

	router: App\RouterFactory::createRouter
