#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

parameters:

	#eshop - enable cart and order process
	eshop: true

	#fulltext_search - disable when MyISAM <4.6
	fulltext_search: true

	#contact - email and phone of operator
	contact:
		name: 'Marek Musil & Vladan Kudláč'
		phone: +420 123 456 789
		email: 'IIS@<span style="display:none;">ignoruj mě</span>dochazku.cekuj.net'
		email_from: 'noreply@dochazku.cekuj.net'

	#product - enable or disable features on product detail pages [true/false]
	product:
		show_order_code: true
		show_phone_order: true
		show_email_order: true

	#menu at homepage; 1.line = link title; 2.line = target presenter:action; 3.line = category id
	category_menu:
		'Pastelky':
			- 'Homepage:default'
			- '0'
		'<span class="subitem">Obyčejné</span>':
			- 'Homepage:default'
			- '99'
		'<span class="subitem">Progresso</span>':
			- 'Homepage:default'
			- '99'
		'<span class="subitem">Voskovky</span>':
			- 'Homepage:default'
			- '99'
		'Skicáky':
			- 'Homepage:default'
			- '1'

	logged_menu:
		'Košík':
			- 'User:cart'
		'Objednávky':
			- 'User:orders'
		'Odhlásit se':
			- 'Sign:out'

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\FrontModule\Model\Parameters(@container::getParameters())
	- App\FrontModule\Model\UserManager
	- App\FrontModule\Model\EmailValidator
	- App\FrontModule\Model\Registrator
	- App\FrontModule\Model\ProductManager
	- App\FrontModule\Model\CartManager
	- App\FrontModule\Model\OrderManager

	- App\FrontModule\Forms\IUserDataFactory
	- App\FrontModule\Forms\SignFormFactory
	- App\FrontModule\Forms\RegisterFormFactory
	- App\FrontModule\Forms\BuyFormFactory


	- App\AdminModule\Forms\SignFormFactory

	router: App\RouterFactory::createRouter
