{block content}

{control order}

<div class="back"><a href="{plink Orders:}"><button class="form-button">&larr; Zpět</button></a></div>
<button class="form-button" id="print">Tisk</button>

<script src="{$basePath.'/js/print.js'}"></script>
