{block content}

<nav>
	<h3>{$heading}</h3>
	<ul>
		<li n:foreach="$items as $count => $title">
			<a class="{if $phase == $count}selected{elseif $phase <= $count} disabled{else}" href="{plink Product:buy 'true'}{/if}"><span class="count">{$count+1}</span>{$title}</a>
		</li>
	</ul>
</nav>


<div class="right-column">
	<h1 n:block=title>{$items[$phase]}</h1>
	{control buyForm}
</div>

<div class="cleaner"></div>
