{block content}

<a n:href="Product:default $product->katalogove_cislo" style="padding-right:1em">🡄 Zpět</a><h1 n:block=title style="display:inline-block;"> Recenze produktu: <a n:href="Product:default $product->katalogove_cislo" style="font-size: 80%">{$product->nazev}</a></h1>
<div>Položky označené hvězdičkou jsou povinné.</div>
{control reviewForm}
