<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Auto CVK</title>

	<link rel="stylesheet" href="{$basePath}/css/front/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#D84315">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#D84315">

	{include favicons.latte}

	{block scripts}
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="{$basePath}/bower_components/nette.ajax/index.js"></script>
		<script src="{$basePath}/js/ajax.js"></script>

		{* <script src="//nette.github.io/resources/js/netteForms.min.js"></script> *}
	{/block}

</head>

<body>
	<div id="page">
		<div class="orangeHeader">
			<a n:href="Homepage:default"><img src="{$basePath}/images/orangeHeader.png" alt="Auto CVK"></a>
		</div>

		{snippet cart}
			{control cart}
		{/snippet}
		<div class="search">
			{form search}
				<div class="search-wrapper">
					<input n:name=searchTerm>
				</div>
				<input n:name=send>
				<div class="cleaner"></div>
			{/form}
		</div>

		{snippet flashMessage}
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		{/snippet}

		<div class="content">
			{include content}
		</div>

		<footer n:if="$page!='Admin'">
			<img src="{$basePath}/images/orangeHeader.png"><br>
			<ul>
				<li class="mobileOnly">+420 776 057 409</li>
				<li><a n:href="Info:kontakty">Kontakty</a></li>
				<li><a n:href="Info:podminky">Obchodní podmínky</a></li>
				<li><a n:href="Info:nakup">Doprava a platba</a></li>
			</ul>
		</footer>
	</div>
</body>
</html>
