<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Pastelky a skicáky</title>

	<link rel="stylesheet" href="{$basePath}/css/admin/style.css">
	<link rel="stylesheet" href="{$basePath}/css/front/style.css">
	<link rel="icon" href="/images/favicon.ico">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#D84315">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#D84315">

	{block scripts}
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="{$basePath}/bower_components/nette.ajax/index.js"></script>
		<script src="{$basePath}/js/ajax.js"></script>
		{*<script src="//nette.github.io/resources/js/netteForms.min.js"></script>*}
	{/block}

</head>

<body>

	<div id="page">
		<div class="orangeHeader">
			<a n:href="Homepage:default"><img src="{$basePath}/images/orangeHeader.png" alt="Pastelky a skicáky"></a>
		</div>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<div class="content">
			{if $user->isLoggedIn()}{control navbar}{/if}

			<div class="right-column">
				{include content}
			</div>
			<div class="cleaner"></div>
		</div>

		<footer>
			<img src="{$basePath}/images/orangeHeader.png"><br>
			Uživatel: {if $user->loggedIn}{$user->identity->uzivatelske_jmeno} ({$user->identity->jmeno} {$user->identity->prijmeni}){else}nepřihlášen{/if}
		</footer>
	</div>
</body>
</html>
