<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Auto CVK</title>

	<link rel="stylesheet" href="{$basePath}/css/front/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#D84315">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#D84315">

	{include favicons.latte}

	{block scripts}
		{*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>*}
	{/block}

</head>

<body>

	<div id="page">
		<div class="orangeHeader">
			<a n:href="Homepage:default"><img src="{$basePath}/images/orangeHeader.png"></a>
		</div>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<div class="content">
			{if $user->isLoggedIn()}{control navbar}{/if}

			{include content}
		</div>

		<footer>
			<img src="{$basePath}/images/orangeHeader.png"><br>
			Uživatel: {if $user->loggedIn}{$user->identity->username}{else}nepřihlášen{/if}
		</footer>
	</div>
</body>
</html>
