{block content}

{control navbar}

<div class="right-column">
    {control order}

    <div class="back"><a href="{plink User:orders}"><button class="form-button">&larr; Zpět</button></a></div>
    <button class="form-button" id="print">Tisk objednávky</button>
    <a n:if="$order['state'] == 'objednávka vyřízena'" n:href="User:invoice $order['id']" target="_blank"><button class="form-button" id="print">Tisk faktury</button></a>
</div>

<div class="cleaner"></div>

<script src="{$basePath.'/js/print.js'}"></script>
