{block content}

{control navbar}

<div class="right-column">
	<h1 n:block=title>Přihlášení</h1>

	{control signInForm}

	<h2>Nemáte účet?</h2>
	<a n:href="Register:default"><button class="submit">Zaregistrovat se!</button></a>
</div>

<div class="cleaner"></div>
