{block content}

{control navbar}

<div class="right-column">
	<h1 n:block=title><span data-icon="i" class="icon"></span> Doprava a platba</h1>

	<h3><span data-icon="d" class="icon"></span> Doprava:</h3>
	<ul>
		<li n:foreach="$delivery as $method">{$method}</li>
	</ul>

	<h3><span data-icon="e" class="icon"></span> Platba:</h3>
	<ul>
		<li n:foreach="$payment as $method">{$method}</li>
	</ul>
</div>
<div class="cleaner"></div>
